body {
    font-family: Arial, sans-serif;
}

#header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.content .intro {
    color: #333;
    margin: 20px;
    padding: 15px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: grey;
    color: #fff;
    border-radius: 5px;

    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: black;
}

.link {
    color: blue;
    text-decoration: none;
}

.link:hover {
    color: green;
}

img {
    width: auto; /* Adjust width as needed, but keep it less than 100% for centering */
    max-width: 50%; /* Ensures image does not exceed the container's width */
    height: 500px; /* Maintains aspect ratio */
    display: block;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* Box model properties example */
.content {
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.sports {
    align-content: center;
    display: block;
}
.sports img {
    width: auto; /* Adjust width as needed, but keep it less than 100% for centering */
    max-width: 50%; /* Ensures image does not exceed the container's width */
    height:auto; /* Maintains aspect ratio */
    display: block;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    
}

#footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}

#photography {
    padding: 50px;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  #photography h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  #photography .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  #photography .photo {
    width: 300px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  #photography .photo img {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 1px solid #ddd;
  }
  
  #photography .photo p {
    padding: 10px;
    font-size: 1em;
    color: #333;
  }
  