---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Me";

import '../styles/global.css';
import { getCldImageUrl } from 'astro-cloudinary/helpers';

const backgroundUrl = getCldImageUrl({
  src: 'https://res.cloudinary.com/dvwdetmhx/image/upload/v1768857650/DSC_1461-Enhanced-NR_xpmwbo.jpg',
});
---


<BaseLayout pageTitle={pageTitle}>
    <div class = "about-content">
        <div class="hero bg-base-200 min-h-screen">
            <div class="hero-content flex-col lg:flex-row text-[--bg-page] max-w-5xl mx-auto" >
                <img
                src="https://res.cloudinary.com/dvwdetmhx/image/upload/v1768860907/DSC_9237-Enhanced-NR_Original_1_mkrw4s.jpg"
                class="max-w-sm rounded-lg shadow-2xl"
                />
                <div>
                <h1 class="text-5xl font-bold text-black">Howdy!</h1>
                <p class="py-6 text-black">
                    Hi! My name is Joshua Huang! I'm a first year PhD student at Texas Tech University. I am advised by 
                    <a 
                        href="https://www.depts.ttu.edu/cs/faculty/Stas_tiomkin/stastiomkin.php" 
                        target="_blank" 
                        class="underline hover:text-gray-600 transition-colors"
                    >
                        Dr. Stas Tiomkin
                    </a>
                    and am part of the CI^2 Lab. My current research interests include robotics control, multi-modal sensing and processing, and process optimization. 

                </p>
                </div>
            </div>
        </div>
    <div>

    </div>

</BaseLayout>

<style>
    .about-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }