---
// src/components/Carousel.astro

interface Props {
  images: string[];
  id?: string;
}

const { images } = Astro.props;
---

<div class="carousel carousel-center rounded-box">
  {images.map((imgSrc) => (
    <div class="carousel-item">
      <img src={imgSrc} class="h-96 w-auto object-cover" alt="Carousel image" />
    </div>
  ))}
</div>