---
import Social from './Social.astro';
import '../styles/global.css';

---

<style>
  Footer {
    /* 1. Layout & Spacing */
    display: flex;
    gap: 1rem;
    justify-content: center; /* Centers the icons */
    align-items: center;
    
    /* 2. "Sticky Bottom" Magic */
    margin-top: auto; /* Pushes footer to bottom if body is a flex column */
    
    /* 3. Visuals */
    width: 100%;
    background-color: var(--text-main);
    padding: 3rem;
  }
.social-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
</style>

<footer >
    <div class= "social-container">
      <Social platform="github" username="activelively" />
      <Social platform="linkedin" username="in/joshua-huang72" />
      <!-- <Social platform="youtube" username="astrodotbuild" /> -->
    </div>
</footer>