---
const { platform, username } = Astro.props;
import '../styles/global.css';
---
<a 
  href={`https://www.${platform}.com/${username}`} 
  class="
    btn 
    btn-ghost 
    rounded-xl
    transition-transform 
    hover:scale-110 
    duration-300 
    motion-reduce:transition-none"

  target="_blank"
  rel="noopener noreferrer"
> {platform}</a>

<style>
  a {
    padding: 0.5rem 1rem;
    color: var(--text-main);
    background-color: var(--bg-page); 

  }
</style>